p {
    border: 2px solid black;
}

td {
    width: 100px;
    height: 100px;
}

.mid_col { 
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.mid_row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table {
    margin: auto;   /* auto - centers on left and right */
}

h2 {
    text-align: center;
}
