<!-- Landing page / home page -->

<!-- No "/partials.." since we are not looking for root dir -->
<%- include("partials/header") %> 

<h1>YelpCamp Landing Page!</h1>
<!-- testing bootstrap -->
<!-- <span class="label label-default">Default</span> -->
<p>Welcome to YelpCamp.</p>

<a href="/index">View All Campgrounds</a>

<%- include("partials/footer") %>