<!-- contains html header present in every ejs file in our project directory -->

<!DOCTYPE html>
<html>
    <head>
        <title> Demo Express App</title>
        <link rel="stylesheet" type="text/css" href="/app.css">
        <!-- Be sure to enter "/app.css" so it does always look for the css file in the root of the /public dir, independent of what page/route is open (/travel/ or /posts/)   -->
    </head>

    <body>
        


