<h1>Sign up form</h1>

<li><a href="/">Home</a></li>

<form action="/register" method="POST">

    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username">

    <label for="password">Password</label>
    <input type="password" name="password">

    <!-- <input type="submit"> -->
    <button>Register</button>
</form>

