/* Three main selectors:
- Elemet,
- ID,
- Class

selector {
    property: value;
}

_id_ : an id can only appear once in an HTML page 
css: #idName

_class_: can be applied to any number of elements on a page
css: .className
 */

 


 h1 {
     color: rgba(10, 200, 200, .8);
 }

 li { 
     border: red 2px solid;
 }

 #lastItem {
     background: yellow;
 }

 .completed {
     text-decoration: line-through;
 }
