
/* for the icon on the left of the navbar */
i.navbar-icon {
    font-size: 2em;
}

div.pageTop {
    padding-top: 4.5em;
}


/* displays the delete button/form inline with content before it */
form.delete-btn {
    display: inline;
}